* {
    font-family: 'Oswald', sans-serif;
}
span {
    font-weight: 700;
}
.logo-img {
    height: 59px;
}
.logo {
    display: flex;
    gap: 15px;
    align-items: center;
}
ul {
    list-style: none;
    display: flex;
    gap: 35px;
}
li {
    color: #fff;
}
li:hover {
    border-bottom: 2px solid #fff;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
nav {
    margin-top: 53px;
    display: flex;
    justify-content: space-between;
}
.content {
    display: flex;
    margin-top: 32px;
}
h1 {
    font-size: 60px; 
    font-weight: 400;
    width: 414px;
}
p {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}
button {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    background: #68B738;
    text-transform: uppercase;
    border: none;
    padding: 14px 26px 14px 26px;
}
.bg {
    position: absolute;
    z-index: -1;
    right: 0;
    top: -10px;
}

.flex-wrapper {
    display: flex;
    gap: 80px;
}
.flex-item {
    background-color: #f2f2f2;
    padding-top: 47px;
    padding-left: 52px;
}
.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #68B738;
    display: flex;
    align-items: center;
    justify-content: center;
}
h2 {
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
}
.subtitle {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    text-transform: none;
}
.catalog {
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
.arrow {
    display: block;
    margin: 30px auto;
    width: 25px;
    height: 25px;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    transform: rotate(135deg);
}
.arrow::after {
    content: "";
    display: block;
    width: 2px;
    height: 45px;
    background-color: black;
    transform: rotate(-45deg) translate(15px, 4px);
    left: 0;
    top: 0;
}
.green {
    background: #68B738;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.parent {
    display: flex;
    gap: 94px;
}
.child {
    position: relative;
    display: flex;
    width: 230px;
    flex-direction: column;
    gap: 30px;
}
.howit {
    margin-top: 100px;
}
.number {
    font-weight: 400;
    font-size: 280px;
    color: #F2F2F2;
    position: absolute;
    top: -60px;
    z-index: -1;
    right: 0;
}
.social_media {
    display: flex;
    gap: 30px;
}
.social_logo {
    width: 23px;
    height: 23px;
    object-fit: fill;
}
.social_logo1 {
    width: 25px;
    height: 25px;
}
.flex {
    display: flex;
    align-items: center;
}
.html_academy {
    display: flex;
    gap: 20px;
    align-items: center;
}
.cat-compare {
    width: 400px;
}

.flex-parent {
    display: flex;
    flex-direction: row;
    gap: 140px;
}
.flex-child {
    display: flex;
    gap: 40px;
    flex-direction: column;
}
.compare-text {
    font-weight: 400;
    font-size: 16px;
    color: #444444;
}
.compare-info {
    display: flex;
    gap: 42px;
}
.square {
    border: 1px solid #CDCDCD;
    border-radius: 3px;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    padding: 15px 57px 20px 57px;
}
.special-text {
    position: absolute;
    bottom: -8px;
    background: #fff;
    padding-left: 4px;
    padding-right: 4px;
}



.slayden-savnena {  
    height: 74vw;
    margin: 1vw auto;
    max-height: 400px;
    max-width: 400px;
    overflow: hidden;
    width: 100vw;
  }
  .slayden-savnena figure {  
    background-image: url('./png-transparent-striped-cat-animal-cat-lovely-thumbnail-removebg-preview.png');
    background-size: cover;
    font-size: 0;
    height: 100%;
    margin: 0;  
    position: relative;
    width: 100%;  
  }
  #kobavenusab {
    background-image: url('./Fat-British-Shorthair-Cat.png');
    background-size: cover;
    bottom: 0;
    border-right: 5px solid rgba(243, 240, 240, 0.7);
    box-shadow: 10px 0 15px -13px #171717;
    /* width: 70%; */
    height: 100%;
    max-width: 98.6%;
    min-width: 0.6%;
    overflow: visible;
    position: relative;
    /* width: 50%;   */
    animation: first 2s 1 normal ease-in-out 0.1s;  
    -webkit-animation: first 2s 1 normal ease-in-out 0.1s;  
  }
  input#pedsumid {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;  
    background: transparent;
    cursor: col-resize;
    height: 100vw;
    left: 0;
    margin: 0;
    outline: none;  
    padding: 0;
    position: relative;
    top: -100vw;
    width: 100%;
  }
  input#pedsumid::-moz-range-track {  
    background: transparent;  
  }
  input#pedsumid::-ms-track {
    border: none;  
    background-color: transparent;
    height: 100vw;  
    left: 0;  
    outline: none;  
    position: relative;
    top: -100vw;  
    width: 100%;
    margin: 0;
    padding: 0;
    cursor: col-resize;
    color:transparent;
  }
  input#pedsumid::-ms-fill-lower {
    background-color:transparent;
  }
  input#pedsumid::-webkit-slider-thumb {
    -webkit-appearance:none;
    height: 100vw;
    width: 0.5%;
    opacity: 0;
  }
  input#pedsumid::-moz-range-thumb {
    -moz-appearance: none;
    height: 100vw;
    width: 0.5%;
    opacity: 0;
  }  
  input#pedsumid::-ms-thumb {
    height: 100vw;
    width: 0.5%;  
    opacity:0;
  }
  input#pedsumid::-ms-tooltip {
    display:none;
  }
  #kobavenusab::before {
    background: url(http://zornet.ru/ABVUN/Aba/detunis/comparision.png) no-repeat scroll 0 center transparent;
    background-size:contain;
    content: " ";
    float: right;
    height: 100%;
    margin-right: -34px;
    position: relative;
    top:0;
    width: 64px;
  }
  @keyframes first {
    0% {width: 0%; }
    50% {width: 80%; }
    100% {width: 50%; }
  }
  @-webkit-keyframes first {
    0% {width: 0%; }
    50% {width: 80%; }
    100% {width: 50%; }
  }